<%= render "nav" %>

<h1>Your Created Events</h1>

<ul>
<% @creator_events.each do |event| %>
  <li><%= event.date %> - <%= event.location %></li>
<% end %>

<h1>Your Attended Events</h1>

<h2>Past Events</h2>
<ul>
<% @attended_events.each do |event| %>
  <% if event.date < Date.today %>
    <li><%= event.date %> - <%= event.location %></li>
  <% end %>
<% end %>
</ul>

<h2>Upcoming Events</h2>
<ul>
<% @attended_events.each do |event| %>
  <% if event.date >= Date.today %>
    <li><%= event.date %> - <%= event.location %></li>
  <% end %>
<% end %>
</ul>